body {
    display: flex!important;
    justify-content: center;
}

.activeContainer {
    max-width: 720px;
    width: 80vw;
    border: 2px solid silver;
    border-bottom: 0;
    border-top: 0;
}